
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1.0;
    background-color: snow;
    transform: translate(-50%, -50%);
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #AAAAAA;
    padding: 20px;
}

html {
    background: url(../img/batalla.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}