<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a  id="imperio" class="navbar-brand" href="#">Roma</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="legiones">Legiones <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="legados">Legados</a>
            <a class="nav-item nav-link" href="cohortes">Cohortes</a>
            <a class="nav-item nav-link" href="espiar">Espiar</a>
            <a class="nav-item nav-link" href="logout">Desconexión</a>
        </div>
    </div>
</nav>

